.location-hero {
  width: 100%;
  height: 80vh;
  position: relative;
}

.location-hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 480px) {
  .location-hero {
    height: 50vh;
  }
}
