.staff-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.staff-table h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  text-align: center;
}

.info-table {
  overflow-x: auto;
}

.info-table table {
  width: 100%;
  border-collapse: collapse;
}

.info-table th,
.info-table td {
  border: none;
  padding: 12px;
  text-align: left;
}

.info-table th {
  color: #333;
  background-color: #f7f7f7;
  font-weight: 600;
}

.info-table tr {
  border-bottom: 1px solid #99999944; /* Thêm viền chỉ ở trên mỗi dòng */
}

.info-table tr:first-child {
  border-top: none; /* Bỏ viền trên cho dòng đầu tiên */
}

.info-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.info-table tr:hover {
  background-color: #f1f1f1;
}

.info-table td {
  color: black;
  vertical-align: middle;
}

.info-table span {
  display: inline-block;
  background-color: #e0e0e0;
  color: #555;
  padding: 4px 8px;
  border-radius: 4px;
  margin-right: 4px;
  font-size: 14px;
}
.info-table .edit-info:hover{
  background-color: rgba(24, 167, 43, 0.9); /* Màu nền với opacity */
  cursor: pointer; /* Con trỏ chuột thành pointer khi hover */
  color: #fff; /* Màu chữ */
}

.info-table .edit-info{
  color: blue;
}

@media screen and (max-width: 768px) {
  .info-table th,
  .info-table td {
    padding: 8px;
  }

  .staff-table h2 {
    font-size: 20px;
  }
}
