.staff-table {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.staff-table h2 {
  margin-bottom: 20px;
}

.info-table table {
  width: 100%;
  border-collapse: collapse;
}
.info-table th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
.info-table th {
  color: black;
  background-color: #f2f2f2;
}
.info-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
