.overlay h2 {
  color: black;
  margin-bottom: 20px;
}

.overlay form {
  width: 100%;
}

.room-form-row label {
  color: black;
  margin-right: 20px;
  font-size: 0.9rem;
  width: 20%;
  text-align: center;
}

.room-form-image {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
  align-items: center;
}

.room-form-image label {
  color: black;
  margin-right: 20px;
  font-size: 0.9rem;
  width: 20%;
  text-align: center;
}

.image-area {
  flex: 1;
  cursor: pointer;
  padding: 15px;
  border: 1px solid #606160;
  border-radius: 10px;
  margin-bottom: 10px;
}

.image-area img {
  width: 100%;
  border-radius: 10px;
}

.room-form-row input {
  border-radius: 10px;
  padding: 15px;
  flex: 1;
  outline: none;
  border: 1px solid #606160;
}

.room-form-row textarea {
  flex: 1;
  border-radius: 10px;
  padding: 15px;
  border: 1px solid #606160;
  outline: none;
}

.room-form-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
  align-items: center;
}

.room-form-row input:focus,
.room-form-row textarea:focus {
  border: 1px solid black;
}

.save-form-btn {
  padding: 10px 20px;
  border: 1px solid #606160;
  background-color: white;
  float: right;
  color: black;
  transition: 0.3s ease;
}

.save-form-btn:hover {
  border: none;
  background-color: black;
  color: white;
}

.room-form-row input[type="file"] {
  height: 200px;
}

.room-form-image span {
  display: block;
  color: red;
  font-size: 10px;
  margin-top: 10px;
}
