.additional-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #cbcbcb;
  padding-top: 25px;
}

.additional-info h5 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 30px;
}
