.additional-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #cbcbcb;
  padding-top: 25px;
}

.additional-info h5 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.additional-info-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  align-items: center;
}

.additional-info-row img {
  width: 20px;
  margin-right: 15px;
  height: 20px;
}
