.extra-services {
  border-top: 1px solid #cbcbcb;
  margin-top: 30px;
  padding-top: 25px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.extra-services h5 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.extra-services-item img {
  width: 40px;
  margin-right: 15px;
  object-fit: contain;
}

.extra-services-item {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.extra-services-item p {
  font-size: 0.9rem;
}

.extra-services-item h6 {
  font-size: 1.2rem;
  font-weight: 500;
}
