.location-rooms {
  margin: 30px auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 60px;
  row-gap: 40px;
  text-align: center;
}

.location-room {
  border: 2px solid #cdcfd2;
  background: white;
  overflow: hidden;
  height: 620px;
  color: #fff;
  cursor: pointer;
  position: relative;
}

.location-room-top > img {
  width: 100%;
  height: 270px;
  object-fit: cover;
}

.location-room-top p {
  font-size: 0.8rem;
  margin: 15px 20px;
  text-align: center;
  line-height: 1.5;
}

.location-room-top h2 {
  font-size: 1.6rem;
  margin: 20px;
  color: black;
  text-align: center;
  font-weight: 450;
}

.location-room-bottom {
  display: flex;
  margin: 10px 83px;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.location-room-bottom p {
  color: black;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 0.81rem;
}

.location-room-readmore {
  font-size: 0.81rem;
  margin: 10px;
  color: black;
  text-align: center;
  transition: 0.2s ease;
}

.location-room-readmore:hover {
  text-decoration: underline;
  text-decoration-color: #606160;
}

@media (max-width: 1200px) {
  .location-rooms {
    grid-template-columns: 1fr 1fr;
  }

  .location-room-top > img {
    width: 100%;
    height: 250px;
  }
  .location-room {
    height: 600px;
  }
}

@media (max-width: 900px) {
  .location-rooms {
    grid-template-columns: 1fr;
  }

  .location-room-top > img {
    width: 100%;
    height: 300px;
  }
  .location-room {
    height: 650px;
  }
}

@media (max-width: 600px) {
  .location-rooms {
    grid-template-columns: 1fr;
  }

  .location-room-top > img {
    width: 100%;
    height: 200px;
  }
  .location-room {
    height: 550px;
  }
}
