.location-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.location-title h4 {
  color: black;
  font-size: 25px;
}

.location-title-link {
  color: #47463c;
  transition: 0.2s ease;
}

.location-title-link:hover {
  color: #606160;
  border-bottom: 1px solid #47463c;
}
