.footer {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #606160;
  padding: 0 10%;
}

.footer p {
  color: white;
  font-size: 1rem;
}

.footer h3 {
  color: white;
  font-size: 1.2rem;
  line-height: 17px;
  font-weight: 550;
  margin-bottom: 0.9rem;
}

.footer h4 {
  font-size: 0.8rem;
  line-height: 30px;
  color: white;
  font-weight: 500;
}

hr {
  color: #47463c;
  margin-bottom: 5px;
}

.footer-top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  text-align: left;
  justify-content: space-between;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.footer-bottom {
  font-size: 0.8rem;
  line-height: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

.footer-below a {
  color: white;
  margin-left: 2rem;
  text-decoration: underline;
}

.footer-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.footer-col {
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  justify-content: space-between;
}

.footer-link a p {
  font-size: 0.8rem;
}

.footer-col a {
  margin-right: 10px;
}

.footer-copyright {
  color: white;
}

.footer-col p {
  font-size: 0.9rem;
  line-height: 30px;
}

.footer-col p a {
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
}

.footer-col p a:hover {
  text-decoration: underline;
}

@media (max-width: 840px) {
  .footer-top {
    flex-direction: column;
  }
}

@media (max-width: 1200px) {
  .footer {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (max-width: 700px) {
  .footer-bottom {
    flex-direction: column;
  }
  .footer-link {
    flex-direction: column;
  }

  .footer-link a {
    margin: 10px 0;
  }
}
