.inputContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inputBox {
  padding-right: 30px; /* Adjust padding to accommodate the icon */
}

.arrowIcon {
  margin-left: 10px;
  cursor: pointer;
}

input.inputBox {
  font-size: 22px;
  padding: 5px 8px 4px 8px;
  border: none;
  cursor: pointer;
  outline: none;
}

.calendarWrap {
  margin-left: 200px;
  display: inline-block;
  position: relative;
}

.calendarElement {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
  border: 1px solid #ccc;
  z-index: 999;
}
