.google-map {
  width: 90%;
  border: none;
  height: 350px;
}

@media (max-width: 1200px) {
  .google-map {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .google-map {
    height: 200px;
  }
}
